In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')
import warnings
warnings.simplefilter(action='ignore',category=np.VisibleDeprecationWarning)

# Lecture 11 #

### Rows from lists

In [ ]:
# If we give Table() a list as the only argument, it will create a table with the entries as labels, and NO data!
drinks = Table(['Drink', 'Calories', 'Price', 'Cafe'])
drinks

In [ ]:
# We can then populate the empty table with data by uwing the with_rows() method.
drinks = drinks.with_rows([
    ['Milk Tea', 77, 5.5, 'ShareTea'],
    ['Espresso', 3,  1.75, 'Starbucks'],
    ['Latte', 136 ,  3.25, 'Java Jax'],
    ['Espresso', 4,   2, 'Provisions']
])
drinks

## Review: Group by one column

In [ ]:
# Let's look at nba data again.
nba = Table.read_table('nba_salaries.csv')
nba.show(3)

### Positions in the NBA ###
There are five main positions in the NBA:
1. Center 'C'
2. Power Forward 'PF'
3. Small Forward 'SF'
4. Shooting Guard 'SG'
5. Point Guard 'PG'

Let's create a table consisting of the rows of nba with only these five positions:

In [ ]:
# We'll use the where method.  Note the list of values that we want to keep:

## Cross-classification: grouping by two columns

In [ ]:
# We can get a count of players in each position in each season by grouping by two columns:

In [ ]:
# We can still give a second argument to group() which will aggregate the data in the other columns:

## Pivot Tables

In [ ]:
# We can get similar results using the pivot method.  The first argument gives us the columns, the second 
# argument gives the rows.  If no other argument is given, we get counts

In [ ]:
# Optionally, we can give a third argument which is a column name, and a fourth argument which is an aggregating
# function (e.g. np.average or np.max).  This function is used in place of a count to populate the pivot table:

In [ ]:
# With this data, we can plot the average salary of each position over time.

## Discussion Questions ##

In [ ]:
# From the CORGIS Dataset Project
# By Austin Cory Bart acbart@vt.edu
# Version 2.0.0, created 3/22/2016
# https://corgis-edu.github.io/corgis/csv/skyscrapers/

sky = Table.read_table('skyscrapers.csv')
sky = (sky.with_column('age', 2022 - sky.column('completed'))
          .drop('completed'))
sky.show(3)

In [ ]:
# 1. For each city, what’s the height of tallest building for each material?

In [ ]:
# 2. For each city, what’s the height difference between the tallest 
#    steel building and the tallest concrete building?

Don't read ahead until you try the challenge questions yourself first!

In [ ]:
# 3. Generate a table of the names of the oldest buildings for each 
#    material for each city:

# Hint: You can use sort to find the name of the oldest building in the dataset

(No peeking! A solution appears below.)

## Joins ##

In [ ]:
# Let's recall the drinks database
drinks

In [ ]:
# Let's build a table with coupons for cafes
discounts = Table().with_columns(
    'Coupon % off', make_array(10, 25, 5, 10, 15),
    'Location', make_array('ShareTea', 'Provisions', 'Java Jax', 'Starbucks', 'Peets')
)
discounts

In [ ]:
# Let's use the join method to add the coupons from the discounts table to each of the cafes in the drinks table.