In [1]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')
import warnings
warnings.simplefilter(action='ignore', category=np.VisibleDeprecationWarning)

## Comparison ##

In [ ]:
# A boolean value can be either True or False

In [1]:
# Capitalization matters!

In [ ]:
# Comparison expressions evaluate to booleans

In [ ]:
# Assignment and comparison are different!
3 = 3

In [2]:
# Sometimes, different types can be correctly compared:

3 == 3.0

True

In [ ]:
10 != 2

In [ ]:
# Named objects can be used in comparisons:
x = ...
y = ...

In [ ]:
# For inequalities, you can do a < x < b.  This is equivalent to a < x AND x < a.

(The comparison `12 < x < 20` is equivalent to `12 < x and x < 20`.)

## Comparisons with arrays

In [5]:
# Let's assign an array of pets
pets = make_array('cat', 'cat', 'dog', 'cat', 'dog', 'rabbit')

In [ ]:
# We can do comparison expressions for arrays.  This returns an array of booleans!

In [ ]:
# 'True' is equal to 1, while 'False' is equal to 0
True == 1

2

In [ ]:
# This counts the number of entries of pets which are 'dog'
sum(pets == 'dog')

True

In [22]:
# When we np.count_nonzero entries in an array full of boolean values, we are really counting the number of 'True'

In [ ]:
x = np.arange(20, 31)

In [ ]:
# Can you imagine what the output will look like?
x > 28

In [ ]:
# How about for this?
sum(x > 28)

## Rows & Apply

In [2]:
# Let's load the family heights data data
heights = Table.read_table('family_heights.csv')
heights.show(3)

In [3]:
# Let's grab the first row:

Row(family='1', father=78.5, mother=67.0, child=73.200000000000003, children=4, order=1, sex='male')

In [4]:
# The data type of a row

datascience.tables.Row

In [5]:
# You can use indices to grab entries of a row using .item:

78.5

In [6]:
# Or you can use column labels:

78.5

In [7]:
# Let's define only_heights to be a table with only the heights of father, mother, and child
only_heights = ...

father | mother | child
78.5   | 67     | 73.2
78.5   | 67     | 69.2
78.5   | 67     | 69
78.5   | 67     | 69
75.5   | 66.5   | 73.5
75.5   | 66.5   | 72.5
75.5   | 66.5   | 65.5
75.5   | 66.5   | 65.5
75     | 64     | 71
75     | 64     | 68
... (924 rows omitted)

In [8]:
# What if we want to see the average height of each family?
# Let's use apply with one argument to apply a function to each row.

array([ 72.9       ,  71.56666667,  71.5       ,  71.5       ,
        71.83333333,  71.5       ,  69.16666667,  69.16666667,
        70.        ,  69.        ,  69.83333333,  69.16666667,
        68.66666667,  67.83333333,  67.33333333,  68.5       ,
        67.5       ,  67.16666667,  66.66666667,  65.33333333,
        65.33333333,  70.5       ,  72.83333333,  72.        ,
        71.66666667,  71.66666667,  70.83333333,  68.66666667,
        70.33333333,  69.5       ,  68.83333333,  68.83333333,
        68.33333333,  70.        ,  68.66666667,  68.        ,
        67.66666667,  67.66666667,  67.33333333,  66.5       ,
        66.33333333,  66.66666667,  70.33333333,  67.33333333,
        69.33333333,  69.        ,  70.16666667,  70.        ,
        68.73333333,  70.        ,  69.5       ,  69.4       ,
        69.4       ,  69.06666667,  68.9       ,  68.16666667,
        67.5       ,  67.16666667,  70.5       ,  70.16666667,
        69.66666667,  66.66666667,  68.        ,  66.6       ,
        67.66666667,  67.16666667,  67.        ,  66.3       ,
        71.63333333,  71.56666667,  71.46666667,  70.56666667,
        70.23333333,  70.06666667,  69.9       ,  69.23333333,
        71.        ,  69.5       ,  69.33333333,  70.66666667,
        70.        ,  68.66666667,  70.4       ,  69.16666667,
        68.83333333,  67.66666667,  67.5       ,  67.33333333,
        67.33333333,  67.66666667,  67.33333333,  66.33333333,
        68.5       ,  68.5       ,  68.        ,  66.66666667,
        66.        ,  68.        ,  67.33333333,  66.        ,
        69.33333333,  67.33333333,  68.5       ,  68.33333333,
        67.16666667,  66.        ,  67.83333333,  67.73333333,
        67.56666667,  66.        ,  68.5       ,  68.16666667,
        68.16666667,  66.83333333,  66.5       ,  66.5       ,
        69.33333333,  68.66666667,  67.66666667,  67.16666667,
        65.83333333,  68.66666667,  68.5       ,  68.5       ,
        68.        ,  67.33333333,  66.23333333,  72.66666667,
        71.33333333,  71.        ,  70.66666667,  69.        ,
        70.4       ,  70.33333333,  69.        ,  68.33333333,
        69.        ,  68.        ,  68.        ,  67.83333333,
        69.        ,  68.66666667,  68.5       ,  67.66666667,
        67.16666667,  66.66666667,  69.33333333,  68.        ,
        71.        ,  69.66666667,  69.33333333,  67.66666667,
        67.66666667,  69.23333333,  69.5       ,  69.5       ,
        69.16666667,  68.5       ,  67.5       ,  67.16666667,
        70.        ,  67.4       ,  68.33333333,  68.06666667,
        68.        ,  68.        ,  66.        ,  67.66666667,
        67.66666667,  67.5       ,  67.16666667,  67.16666667,
        67.        ,  66.83333333,  66.66666667,  69.4       ,
        69.06666667,  68.9       ,  67.73333333,  67.66666667,
        67.66666667,  67.66666667,  69.33333333,  69.        ,
        68.66666667,  67.33333333,  66.83333333,  66.83333333,
        66.        ,  69.5       ,  65.83333333,  67.23333333,
        66.23333333,  68.5       ,  67.16666667,  66.83333333,
        66.5       ,  66.        ,  68.33333333,  68.        ,
        68.        ,  66.        ,  66.33333333,  66.33333333,
        66.        ,  65.66666667,  65.66666667,  68.33333333,
        68.33333333,  68.        ,  65.83333333,  68.        ,
        67.66666667,  65.83333333,  65.16666667,  64.83333333,
        68.33333333,  67.83333333,  67.83333333,  65.83333333,
        64.33333333,  67.83333333,  65.83333333,  65.83333333,
        65.83333333,  65.33333333,  67.83333333,  67.66666667,
        67.33333333,  67.33333333,  66.33333333,  65.83333333,
        65.66666667,  64.66666667,  66.83333333,  66.        ,
        70.        ,  69.66666667,  69.33333333,  69.33333333,
        69.66666667,  69.23333333,  69.        ,  68.33333333,
        67.66666667,  67.        ,  71.        ,  69.        ,
        68.66666667,  67.66666667,  67.        ,  65.66666667,
        68.16666667,  69.83333333,  69.5       ,  69.5       ,
        67.66666667,  68.56666667,  67.9       ,  67.66666667,
        67.5       ,  67.5       ,  66.9       ,  66.73333333,
        69.16666667,  68.56666667,  68.16666667,  68.        ,
        67.83333333,  66.83333333,  65.66666667,  65.5       ,
        65.5       ,  69.33333333,  69.        ,  68.5       ,
        66.66666667,  66.66666667,  66.5       ,  66.        ,
        65.66666667,  67.33333333,  66.66666667,  66.5       ,
        65.83333333,  65.83333333,  68.33333333,  68.33333333,
        67.33333333,  66.66666667,  66.66666667,  66.        ,
        71.33333333,  70.        ,  68.66666667,  68.        ,
        67.33333333,  66.9       ,  65.66666667,  69.33333333,
        69.16666667,  66.66666667,  68.        ,  68.        ,
        68.9       ,  68.23333333,  67.8       ,  67.06666667,
        66.73333333,  66.46666667,  66.4       ,  68.23333333,
        68.        ,  67.33333333,  67.        ,  66.66666667,
        66.33333333,  67.        ,  68.        ,  67.33333333,
        66.9       ,  66.5       ,  68.73333333,  68.06666667,
        65.56666667,  65.13333333,  64.76666667,  69.5       ,
        68.        ,  67.83333333,  67.5       ,  67.5       ,
        67.5       ,  66.66666667,  66.5       ,  65.        ,
        67.33333333,  66.33333333,  66.        ,  65.33333333,
        68.33333333,  68.        ,  68.        ,  68.        ,
        67.83333333,  67.5       ,  67.66666667,  66.33333333,
        66.        ,  67.9       ,  66.9       ,  66.4       ,
        65.8       ,  65.63333333,  65.4       ,  65.3       ,
        64.9       ,  67.83333333,  67.33333333,  66.33333333,
        65.66666667,  68.66666667,  67.5       ,  66.83333333,
        66.        ,  65.83333333,  68.16666667,  67.        ,
        67.        ,  65.66666667,  67.        ,  66.66666667,
        65.56666667,  65.        ,  67.66666667,  66.5       ,
        65.        ,  64.66666667,  68.16666667,  67.5       ,
        67.33333333,  67.33333333,  66.83333333,  65.83333333,
        65.5       ,  65.16666667,  67.9       ,  67.56666667,
        67.4       ,  66.06666667,  65.66666667,  65.5       ,
        65.4       ,  68.16666667,  68.16666667,  64.16666667,
        67.4       ,  66.        ,  65.66666667,  64.83333333,
        65.        ,  64.33333333,  65.        ,  65.        ,
        66.66666667,  64.33333333,  63.83333333,  66.66666667,
        64.66666667,  64.66666667,  64.33333333,  63.66666667,
        70.83333333,  69.5       ,  69.16666667,  67.83333333,
        67.83333333,  67.66666667,  67.5       ,  67.5       ,
        67.16666667,  67.16666667,  66.66666667,  69.33333333,
        69.        ,  68.9       ,  68.83333333,  66.83333333,
        66.66666667,  65.9       ,  65.83333333,  68.73333333,
        68.66666667,  68.33333333,  70.23333333,  69.9       ,
        69.23333333,  68.06666667,  68.33333333,  67.83333333,
        67.66666667,  66.66666667,  66.        ,  65.83333333,
        69.5       ,  68.83333333,  68.66666667,  68.66666667,
        67.5       ,  67.16666667,  65.5       ,  68.83333333,
        67.83333333,  66.83333333,  66.66666667,  68.83333333,
        68.        ,  67.66666667,  67.16666667,  66.16666667,
        66.16666667,  68.83333333,  68.83333333,  68.66666667,
        68.66666667,  67.33333333,  67.        ,  66.66666667,
        69.33333333,  69.        ,  68.        ,  68.        ,
        67.16666667,  66.83333333,  66.83333333,  66.66666667,
        66.33333333,  68.        ,  67.5       ,  67.        ,
        66.33333333,  66.        ,  65.83333333,  65.        ,
        67.9       ,  67.33333333,  64.66666667,  66.4       ,
        66.16666667,  65.9       ,  64.66666667,  68.3       ,
        66.56666667,  66.06666667,  65.56666667,  66.        ,
        67.        ,  66.5       ,  65.16666667,  68.        ,
        68.33333333,  67.33333333,  67.33333333,  65.33333333,
        66.        ,  64.66666667,  67.66666667,  66.5       ,
        66.16666667,  65.83333333,  65.16666667,  64.83333333,
        64.5       ,  67.66666667,  65.4       ,  65.16666667,
        64.73333333,  68.16666667,  67.83333333,  66.83333333,
        68.        ,  67.33333333,  67.33333333,  66.66666667,
        64.66666667,  67.83333333,  67.16666667,  66.43333333,
        65.56666667,  65.4       ,  65.33333333,  65.        ,
        65.        ,  64.66666667,  64.5       ,  64.33333333,
        67.5       ,  67.16666667,  67.16666667,  66.83333333,
        65.        ,  64.66666667,  64.66666667,  64.5       ,
        67.66666667,  66.33333333,  65.66666667,  65.66666667,
        66.83333333,  66.66666667,  66.5       ,  64.5       ,
        64.16666667,  66.        ,  66.        ,  65.83333333,
        64.66666667,  64.33333333,  64.33333333,  64.5       ,
        64.        ,  64.        ,  66.5       ,  65.66666667,
        63.83333333,  66.        ,  65.        ,  63.56666667,
        63.16666667,  66.33333333,  70.06666667,  66.96666667,
        69.5       ,  68.83333333,  67.5       ,  68.33333333,
        68.        ,  68.        ,  67.9       ,  67.83333333,
        67.83333333,  67.66666667,  67.66666667,  67.66666667,
        67.06666667,  66.06666667,  66.83333333,  66.33333333,
        66.5       ,  65.83333333,  68.4       ,  68.33333333,
        68.06666667,  66.33333333,  66.66666667,  66.23333333,
        65.        ,  68.33333333,  68.33333333,  67.        ,
        66.33333333,  67.56666667,  67.16666667,  66.5       ,
        66.5       ,  65.16666667,  65.        ,  64.83333333,
        64.5       ,  68.5       ,  68.        ,  67.4       ,
        67.33333333,  67.06666667,  65.83333333,  65.66666667,
        65.5       ,  67.66666667,  66.66666667,  66.66666667,
        66.33333333,  65.66666667,  65.33333333,  65.        ,
        65.        ,  64.66666667,  64.33333333,  66.        ,
        65.        ,  65.83333333,  64.66666667,  67.73333333,
        67.73333333,  67.        ,  66.83333333,  64.83333333,
        64.83333333,  67.        ,  66.33333333,  66.        ,
        66.        ,  66.        ,  65.66666667,  65.66666667,
        65.66666667,  65.33333333,  65.        ,  67.16666667,
        67.        ,  66.33333333,  65.66666667,  65.66666667,
        65.66666667,  64.33333333,  64.16666667,  68.5       ,
        67.33333333,  67.16666667,  65.83333333,  66.        ,
        67.        ,  66.33333333,  65.16666667,  65.        ,
        67.33333333,  66.33333333,  65.66666667,  65.5       ,
        65.33333333,  64.66666667,  64.33333333,  64.33333333,
        66.        ,  66.        ,  65.66666667,  65.        ,
        64.83333333,  64.        ,  66.73333333,  67.        ,
        67.23333333,  66.9       ,  66.23333333,  65.73333333,
        65.4       ,  66.33333333,  66.13333333,  64.13333333,
        65.66666667,  65.83333333,  65.66666667,  64.33333333,
        64.16666667,  64.        ,  64.96666667,  64.        ,
        63.        ,  63.        ,  62.66666667,  62.66666667,
        62.66666667,  61.33333333,  65.16666667,  65.        ,
        64.83333333,  62.66666667,  65.5       ,  65.        ,
        64.        ,  63.9       ,  63.66666667,  63.66666667,
        63.33333333,  64.        ,  64.        ,  63.        ,
        62.66666667,  68.63333333,  68.63333333,  68.23333333,
        66.23333333,  65.56666667,  68.16666667,  68.66666667,
        68.        ,  67.9       ,  67.66666667,  67.33333333,
        67.        ,  66.16666667,  65.        ,  67.23333333,
        66.5       ,  65.83333333,  65.66666667,  65.5       ,
        65.16666667,  67.5       ,  67.16666667,  66.        ,
        66.        ,  65.16666667,  67.5       ,  66.73333333,
        65.16666667,  64.16666667,  65.66666667,  64.66666667,
        64.66666667,  67.83333333,  67.16666667,  65.5       ,
        65.5       ,  65.16666667,  65.16666667,  65.16666667,
        65.16666667,  65.16666667,  65.        ,  64.83333333,
        67.5       ,  67.        ,  66.        ,  66.        ,
        67.16666667,  66.9       ,  66.56666667,  66.33333333,
        66.16666667,  65.83333333,  65.33333333,  64.66666667,
        66.33333333,  66.        ,  64.33333333,  66.5       ,
        66.33333333,  66.16666667,  66.        ,  65.16666667,
        65.        ,  67.83333333,  67.83333333,  66.66666667,
        66.33333333,  66.33333333,  65.        ,  65.        ,
        64.83333333,  68.33333333,  66.        ,  66.        ,
        66.66666667,  65.66666667,  65.66666667,  65.        ,
        64.33333333,  64.33333333,  66.        ,  65.66666667,
        66.33333333,  66.16666667,  65.83333333,  68.        ,
        66.66666667,  66.        ,  65.66666667,  64.66666667,
        64.33333333,  66.73333333,  66.66666667,  66.        ,
        65.33333333,  64.66666667,  64.        ,  64.        ,
        63.        ,  67.83333333,  67.5       ,  66.16666667,
        65.83333333,  65.5       ,  66.33333333,  64.66666667,
        63.83333333,  65.56666667,  65.5       ,  64.83333333,
        64.83333333,  64.83333333,  64.16666667,  66.33333333,
        65.66666667,  64.16666667,  63.83333333,  63.83333333,
        63.83333333,  63.83333333,  65.83333333,  64.66666667,
        64.33333333,  63.66666667,  62.        ,  63.66666667,
        64.33333333,  64.        ,  63.83333333,  63.66666667,
        63.56666667,  63.5       ,  63.33333333,  63.33333333,
        63.        ,  62.66666667,  62.33333333,  62.        ,
        61.66666667,  61.        ,  60.66666667,  66.16666667,
        66.        ,  66.        ,  65.66666667,  65.        ,
        64.66666667,  64.66666667,  64.66666667,  63.66666667,
        66.        ,  65.66666667,  65.33333333,  65.33333333,
        64.        ,  66.33333333,  66.        ,  66.        ,
        65.        ,  65.        ,  64.        ,  64.        ,
        63.66666667,  63.        ,  67.06666667,  65.33333333,
        66.4       ,  66.33333333,  66.        ,  65.9       ,
        64.83333333,  63.5       ,  65.33333333,  65.33333333,
        64.33333333,  64.33333333,  63.83333333,  63.16666667,
        66.        ,  63.66666667,  64.66666667,  64.66666667,
        63.66666667,  66.5       ,  66.5       ,  65.83333333,
        64.        ,  64.5       ,  64.5       ,  64.16666667,
        64.16666667,  62.5       ,  66.5       ,  65.33333333,
        64.5       ,  64.        ,  63.33333333,  63.33333333,
        63.        ,  66.16666667,  65.33333333,  65.        ,
        64.33333333,  64.        ,  64.        ,  62.66666667,
        63.83333333,  63.33333333,  61.33333333,  65.        ,
        63.33333333,  64.        ,  63.33333333,  63.        ,
        64.        ,  60.83333333])

In [9]:
# This is an array that we can that we can use to add a column to our table!

father | mother | child | average
78.5   | 67     | 73.2  | 72.9
78.5   | 67     | 69.2  | 71.5667
78.5   | 67     | 69    | 71.5
78.5   | 67     | 69    | 71.5
75.5   | 66.5   | 73.5  | 71.8333
75.5   | 66.5   | 72.5  | 71.5
75.5   | 66.5   | 65.5  | 69.1667
75.5   | 66.5   | 65.5  | 69.1667
75     | 64     | 71    | 70
75     | 64     | 68    | 69
... (924 rows omitted)

## Conditional Statements

In [ ]:
x = 20

In [ ]:
# Here's a conditional statement.  Notice that after if, we have a comparison expression.  
# It's either True or False.
# Because x >= 18 is True, code following the if line will run.

if x >= 18:    
    print('You can legally vote.')

In [ ]:
# Because x >= 21 is False, code following the if line will not run!

if x >= 21:
    print('You can legally drink.')

In [ ]:
# Conditional statements are useful in functions when you want the output behavior to be different
# depending on the input.

In [10]:
# Once functions return a value, no further computation is done!

'You can legally vote.'

'You can legally vote.'

In [ ]:
# elif and else are ways of dealing with many cases.

In [ ]:
# Let's work with bike trips
trip = Table().read_table('trip.csv')
trip.show(3)

In [ ]:
# Let's write a function 'trip_kind' to classify bike trips as 'round trips' or 'one way'.

# Now apply trip_kind, using 'Start Station' and 'End Station' as arguments:

In [ ]:
# For each start station, for trips under 10 minutes, how many are round trip and how many are one way?

## Simulation

Let's play a game: we each roll a die. 

If my number is bigger: you pay me a dollar.

If they're the same: we do nothing.

If your number is bigger: I pay you a dollar.

Steps:
1. Find a way to simulate two dice rolls.
2. Compute how much money we win/lose based on the result.
3. Do steps 1 and 2 10,000 times.

### Conditional Statements

In [ ]:
# Let's play a game where we each roll a dice.  If my roll is higher than your roll, I win a dollar. 
# If your roll is higher, then I lose a dollar (to you).
# If our rolls are tied, then I win nothing and lose nothing.
# Work in progress:

def one_round(my_roll, your_roll):
    if my_roll > your_roll:
        return 1

In [ ]:
one_round(4, 3)

In [ ]:
one_round(2, 6)

In [ ]:
# Final correct version
def one_round(my_roll, your_roll):
    if my_roll > your_roll:
        return 1
    elif your_roll > my_roll:
        return -1
    elif your_roll == my_roll:
        return 0

In [ ]:
one_round(1, 1)

In [ ]:
one_round(6, 5)

In [ ]:
one_round(7, -1)

### Random Selection

In [ ]:
mornings = make_array('wake up', 'sleep in')

In [ ]:
np.random.choice(mornings)

In [ ]:
np.random.choice(mornings)

In [ ]:
np.random.choice(mornings)

We can also pass an argument that specifies how many times to make a random choice:

In [ ]:
np.random.choice(mornings, 7)

In [ ]:
sum(np.random.choice(mornings, 7) == 'wake up')

In [ ]:
sum(np.random.choice(mornings, 7) == 'sleep in')

In [ ]:
morning_week = np.random.choice(mornings, 7)
morning_week

In [ ]:
sum(morning_week == 'wake up')

In [ ]:
sum(morning_week == 'sleep in')

### Simulating the roll of a die

In [ ]:
die_faces = np.arange(1, 7)

In [ ]:
np.random.choice(die_faces)

In [ ]:
def simulate_one_round():
    my_roll = np.random.choice(die_faces)
    your_roll = np.random.choice(die_faces)
    return one_round(my_roll, your_roll)

In [ ]:
simulate_one_round()

### Appending Arrays

In [ ]:
first = np.arange(4)
second = np.arange(10, 17)

In [ ]:
np.append(first, 6)

In [ ]:
first

In [ ]:
np.append(first, second)

In [ ]:
first

In [ ]:
second

### Repeated Betting ###

In [ ]:
results = make_array()

In [ ]:
results = np.append(results, simulate_one_round())
results

In [ ]:
results = np.append(results, simulate_one_round())
results

## `For` Statements

In [ ]:
for pet in make_array('cat', 'dog', 'rabbit'):
    print('I love my ' + pet)

In [ ]:
pet = make_array('cat', 'dog', 'rabbit').item(0)
print('I love my ' + pet)

pet = make_array('cat', 'dog', 'rabbit').item(1)
print('I love my ' + pet)

pet = make_array('cat', 'dog', 'rabbit').item(2)
print('I love my ' + pet)

In [ ]:
game_outcomes = make_array()

for i in np.arange(5):
    game_outcomes = np.append(game_outcomes, simulate_one_round())
    
game_outcomes

In [ ]:
game_outcomes = make_array()

for i in np.arange(10000):
    game_outcomes = np.append(game_outcomes, simulate_one_round())
    
game_outcomes

In [ ]:
len(game_outcomes)

In [ ]:
results = Table().with_column('My winnings', game_outcomes)

In [ ]:
results

In [ ]:
results.group('My winnings').barh('My winnings')

### Another example: simulating heads in 100 coin tosses

In [ ]:
coin = make_array('heads', 'tails')

In [ ]:
sum(np.random.choice(coin, 100) == 'heads')

In [ ]:
# Simulate one outcome

def num_heads():
    return sum(np.random.choice(coin, 100) == 'heads')

In [ ]:
# Decide how many times you want to repeat the experiment

repetitions = 10000

In [ ]:
# Simulate that many outcomes

outcomes = make_array()

for i in np.arange(repetitions):
    outcomes = np.append(outcomes, num_heads())

In [ ]:
heads = Table().with_column('Heads', outcomes)
heads.hist(bins = np.arange(29.5, 70.6))

## Optional: Advanced `where` ##

In [ ]:
ages = make_array(16, 22, 18, 15, 19, 15, 16, 21)
age = Table().with_column('Age', ages)

In [ ]:
age

In [ ]:
age.where('Age', are.above_or_equal_to(18))

In [ ]:
voter = ages >= 18

In [ ]:
voter

In [ ]:
age.where(voter)

In [ ]:
is_voter = are.above_or_equal_to(18)

In [ ]:
type(is_voter)

In [ ]:
is_voter(22)

In [ ]:
is_voter(3)

In [ ]:
age.apply(is_voter, 'Age')

In [ ]:
ages >= 18

In [ ]:
voter

In [ ]:
def my_voter_function(x):
    return x >= 18

In [ ]:
age.where('Age', are.above_or_equal_to(18))

In [ ]:
age.where(voter)

In [ ]:
age.where('Age', my_voter_function)