In [17]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')
import warnings
warnings.simplefilter(action='ignore', category=np.VisibleDeprecationWarning)

## Comparisons with arrays

In [18]:
# Let's assign an array of pets
pets = make_array('cat', 'cat', 'dog', 'cat', 'dog', 'rabbit')

In [19]:
# We can do comparison expressions for arrays.  This returns an array of booleans!
pets == 'dog'

array([False, False,  True, False,  True, False], dtype=bool)

In [20]:
# 'True' is equal to 1, while 'False' is equal to 0
True == 1

True

In [22]:
False == 0

True

In [24]:
True + True

2

In [25]:
# This counts the number of entries of pets which are 'dog'
sum(pets == 'dog')

2

In [22]:
# When we np.count_nonzero entries in an array full of boolean values, we are really counting the number of 'True'

In [ ]:
x = np.arange(20, 31)

In [ ]:
# Can you imagine what the output will look like?
x > 28

In [ ]:
# How about for this?
sum(x > 28)

## Rows & Apply

In [2]:
# Let's load the family heights data data
heights = Table.read_table('family_heights.csv')
heights.show(3)

In [1]:
# Let's grab the first row:

In [2]:
# The data type of a row

In [3]:
# You can use indices to grab entries of a row using .item:

In [4]:
# Or you can use column labels:

In [7]:
# Let's define only_heights to be a table with only the heights of father, mother, and child
only_heights = heights.select('father', 'mother', 'child')

father | mother | child
78.5   | 67     | 73.2
78.5   | 67     | 69.2
78.5   | 67     | 69
78.5   | 67     | 69
75.5   | 66.5   | 73.5
75.5   | 66.5   | 72.5
75.5   | 66.5   | 65.5
75.5   | 66.5   | 65.5
75     | 64     | 71
75     | 64     | 68
... (924 rows omitted)

In [5]:
# What if we want to see the average height of each family?
# Let's use apply with one argument to apply a function to each row.

In [6]:
# This is an array that we can that we can use to add a column to our table!

## Conditional Statements

In [ ]:
x = 20

In [ ]:
# Here's a conditional statement.  Notice that after if, we have a comparison expression.  
# It's either True or False.
# Because x >= 18 is True, code following the if line will run.

if x >= 18:    
    print('You can legally vote.')

In [ ]:
# Because x >= 21 is False, code following the if line will not run!

if x >= 21:
    print('You can legally drink.')

In [ ]:
# Conditional statements are useful in functions when you want the output behavior to be different
# depending on the input.

In [10]:
# Once functions return a value, no further computation is done!

In [ ]:
# elif and else are ways of dealing with many cases.

## Simulation

Let's play a game: we each roll a die. 

If my number is bigger: you pay me a dollar.

If they're the same: we do nothing.

If your number is bigger: I pay you a dollar.

Steps:
1. Find a way to simulate two dice rolls.
2. Compute how much money we win/lose based on the result.
3. Do steps 1 and 2 10,000 times.

### Conditional Statements

In [ ]:
# Let's play a game where we each roll a dice.  If my roll is higher than your roll, I win a dollar. 
# If your roll is higher, then I lose a dollar (to you).
# If our rolls are tied, then I win nothing and lose nothing.
# Work in progress:

def one_round(my_roll, your_roll):
    if my_roll > your_roll:
        return 1

In [ ]:
one_round(4, 3)

In [ ]:
one_round(2, 6)

In [ ]:
# Final correct version
def one_round(my_roll, your_roll):
    if my_roll > your_roll:
        return 1
    elif your_roll > my_roll:
        return -1
    elif your_roll == my_roll:
        return 0

In [ ]:
one_round(1, 1)

In [ ]:
one_round(6, 5)

In [ ]:
one_round(7, -1)

### Random Selection

In [ ]:
mornings = make_array('wake up', 'sleep in')

In [ ]:
# np.random.choice will choose a random element from the array given as argument

In [ ]:
# Each time np.random.choice is invoked, you will get a possibly different random output!

In [ ]:
# We can also supply an argument to specify the number of times we want to make a random choice.
# All results are stored in an array.
np.random.choice(mornings, 7)

In [ ]:
# Let's count the number of 'wake up' days in a week.

In [ ]:
# Let's count the number of 'sleep in' days in a week

In [ ]:
# If we want to count the number of 'wake up' days and the number of 'sleep in' days in the same week, 
# we should store the result of np.result.choice(mornings,7)
morning_week = np.random.choice(mornings, 7)
morning_week

In [ ]:
sum(morning_week == 'wake up')

In [ ]:
sum(morning_week == 'sleep in')

### Simulating the roll of a die

In [ ]:
# Make die_faces the numbers 1 through 6 in an array

In [ ]:
# Now np.random.choice(die_faces) is simulating the roll of a die.

In [ ]:
def simulate_one_round():
    my_roll = np.random.choice(die_faces)
    your_roll = np.random.choice(die_faces)
    return one_round(my_roll, your_roll)

In [ ]:
simulate_one_round()

### Appending Arrays

In [ ]:
# Here are two arrays
first = np.arange(4)
second = np.arange(10, 17)

In [ ]:
# We can append first with a value.  This places the value at the end of the array:

In [ ]:
# Notice though, that first didn't actually change in the above cell.

In [ ]:
# We can also append arrays with arrays:

### Repeated Betting ###

In [ ]:
# Let's make results an 'empty array'.  This is an array that has no entries in it!

In [ ]:
# Let's append to results the simluation of one round of our dice roll game and store the outcome in result:

In [ ]:
# We can play over and over just by repeatedly running the cell...

## `For` Statements

In [ ]:
# But a better way to do things over and over is to use iteration.  Here is a for-loop:
for pet in make_array('cat', 'dog', 'rabbit'):
    print('I love my ' + pet)

In [ ]:
# Here is a tiresome way to do the same thing:
pet = make_array('cat', 'dog', 'rabbit').item(0)
print('I love my ' + pet)

pet = make_array('cat', 'dog', 'rabbit').item(1)
print('I love my ' + pet)

pet = make_array('cat', 'dog', 'rabbit').item(2)
print('I love my ' + pet)

In [ ]:
# Let's write a for-loop to play our dice game 5 times.

In [ ]:
# Let's write a for-loop to play our dice game 10000 times.

In [ ]:
len(game_outcomes)

In [ ]:
results = Table().with_column('My winnings', game_outcomes)

In [ ]:
results

In [ ]:
results.group('My winnings').barh('My winnings')

### Another example: simulating heads in 100 coin tosses

In [ ]:
# Let's simulate a coin flip.

In [ ]:
# Let's flip the coin 100 times, then count the number of heads.

In [ ]:
# Let's define a function num_heads() which flips a coin 100 times, then counts the number of heads.

In [ ]:
# Decide how many times you want to repeat the experiment

In [ ]:
# Simulate that many outcomes by writing a for-loop which will run the experiment the number of times specified.

In [ ]:
# Let's make a histogram!